.accardionHeader {
  gap: 10px;
  padding: 5px;
  font-size: 14px;
  display: flex;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  &:hover {
    background-color: #f1f2f3;
  }

  @media screen and (min-width: 900px) {
    gap: 15px;
    padding: 10px;
  }

  @media screen and (max-width: 666px) {
    border-radius: 10px;
  }
}

.accardionHeaderActive {
  background-color: #f1f2f3;
  color: #0099fa;
}

.accardionContent {
  padding: 20px 10px;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  @media screen and (min-width: 900px) {
    padding: 40px 20px;
  }
}
