.UserInfoBox {
  display: flex;
}

.UserInfoList {
  display: flex;
  flex-direction: column;
  list-style: none;
  //   border: 1px solid #0099fa;
  border-radius: 8px;
}

.UserInfoItem {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 0 0;
  align-items: flex-start;
  gap: 5px;
  border-bottom: 1px dashed #e0e0e0;

  &:not(:last-child) {
    // border-bottom: 1px solid #0099fa;
  }
}

.UserInfoBtnEdit {
  border: none;
  background-color: transparent;
  color: #009afa51;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;

  &:hover {
    color: #0099fa91;
  }
}

.UserInfoEditText {
  width: 300px;
  border: 1px solid #dededf;
  padding: 5px 10px;
  border-radius: 10px;
}

.UserInfoAboutCompany {
  display: inline-flex;
  align-items: center;
}

.UserInfoBtnSave {
  width: 25px;
  height: 25px;
}
