.btn {
  font-weight: 600;
  padding: 10px 30px;
  margin: 0 auto;
  background-color: #0099fa;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.buttonLogOut {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
}
