.btn {
  font-weight: 600;
  padding: 10px 30px;
  margin: 0 auto;
  background-color: #0099fa;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.25s linear;

  &:hover {
    background-color: #057bc6;
  }
}

.buttonLogOut {
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: #fff;
}

.buttonLogOutMob {
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0;
  @media screen and (min-width: 667px) {
    display: none;
  }
}
