.DetailedReportForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.DetailedReportContainer {
  display: flex;
  gap: 50px;

  @media screen and (max-width: 852px) {
    // justify-content: center;
    flex-direction: column;
  }
}

.DetailedReportBox {
  width: calc((100% - 100px) / 3);
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (max-width: 852px) {
    width: 100%;
  }
}

.DetailedReportSubTitle {
  margin-bottom: 10px;
}

.DetailedReportInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.DetailedReportSelect,
.DetailedReportDatePicker {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}

.DetailedReportSelect {
  width: 100%;
}

.DetailedReportList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 10px;
}

.DetailedReportItem {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.DetailedReportLabel {
  margin-left: 5px;
}

.DetailedReportBtnBox {
  display: flex;
  gap: 20px;
}

.DetailedReportBtn {
  cursor: pointer;
  padding: 5px 20px;
  background-color: #0099fa;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
}
