.ShowDetailedReportWrapper {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.ShowDetailedReportInner {
  display: flex;
}

.ShowDetailedReportInput {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s linear;

  &:hover {
    background-color: #009afa5a;
  }
}

.ShowDetailedReportCheckBox {
  width: 20px;
  height: 20px;
}

.ShowDetailedReportWrapper,
.ShowDetailedReportColumsWrapper {
  display: flex;
  gap: 20px;
}

.ShowDetailedReportBtnBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ShowDetailedReportBtn {
  margin-right: auto;
  cursor: pointer;
  padding: 5px 20px;
  background-color: #0099fa;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.ShowDetailedReportPageSize {
  border: 1px solid #0099fa;
  border-radius: 10px;
  padding: 5px 10px;
  // margin-top: 10px;
  margin-left: 10px;
}
