.ChangeUserPasswordBox,
.ChangeUserPasswordForm,
.ChangeUserPasswordLabel {
  display: flex;
}

.ChangeUserPasswordForm,
.ChangeUserPasswordLabel {
  flex-direction: column;
}

.ChangeUserPasswordForm {
  gap: 20px;
  align-items: center;
  padding: 30px;
}

.ChangeUserPasswordTitile {
  font-size: 16px;
  margin-bottom: 10px;
}

.ChangeUserPasswordLabel {
  position: relative;
  gap: 5px;
  width: 100%;
}

.ChangeUserPasswordLabelText {
  position: absolute;
  background-color: #fff;
  top: 5px;
  left: 10px;
  transition: color 0.3s, transform 0.3s;
  transform-origin: top left;
  border-radius: 10px;
  padding: 5px;
}
.ChangeUserPasswordInput {
  padding: 10px;
  padding-right: 35px;
  border-radius: 10px;
  border: 1px solid #0099fa;
  position: relative;
}

.ChangeUserPasswordInput::placeholder {
  opacity: 0;
  transition: opacity 0.5 50ms;
}

.ChangeUserPasswordInput:focus::placeholder {
  opacity: 1;
}

.ChangeUserPasswordInput:focus + .ChangeUserPasswordLabelText,
.ChangeUserPasswordInput:not(:placeholder-shown)
  + .ChangeUserPasswordLabelText {
  color: #0198f8;
  transform: translateY(-20px) scale(0.85);
}

.ChangeUserPasswordSubmitBtn {
  border: 1px solid #0099fa;
  border-radius: 20px;
  padding: 10px 40px;
  background-color: #0099fa;
  color: #fff;
  font-weight: 600;
  // margin-right: auto;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #1678c2;
  }
}

.ChangeUserPasswordBtnIcon {
  border: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  color: #ccc;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #0099fa;
  }
}

.ChangeUserPasswordIcon {
  color: #0099fa;
}

.ChangeUserPasswordIconOpenEye,
.ChangeUserPasswordIcon {
  width: 20px;
  height: 20px;
}
