.ChangeUserPasswordBox,
.ChangeUserPasswordForm,
.ChangeUserPasswordLabel {
  display: flex;
}

.ChangeUserPasswordForm,
.ChangeUserPasswordLabel {
  flex-direction: column;
}

.ChangeUserPasswordForm {
  gap: 20px;
}

.ChangeUserPasswordLabel {
  position: relative;
  gap: 5px;
  width: 300px;
}

.ChangeUserPasswordLabelText {
  position: absolute;
  background-color: #fff;
  top: 5px;
  left: 10px;
  transition: color 0.5s, transform 0.5s;
  transform-origin: top left;
  border-radius: 10px;
  padding: 5px;
}
.ChangeUserPasswordInput {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #0198f8;
}

.ChangeUserPasswordInput::placeholder {
  opacity: 0;
  transition: opacity 0.5 50ms;
}

.ChangeUserPasswordInput:focus::placeholder {
  opacity: 1;
}

.ChangeUserPasswordInput:focus + .ChangeUserPasswordLabelText,
.ChangeUserPasswordInput:not(:placeholder-shown)
  + .ChangeUserPasswordLabelText {
  color: #0198f8;
  transform: translateY(-20px) scale(0.85);
}

.ChangeUserPasswordSubmitBtn {
  border: 1px solid #0386dc;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #0386dc;
  color: #fff;
  font-weight: 600;

  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #1678c2;
  }
}
