.logForm {
  max-width: 500px;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #fff;
  color: #000;
  // filter: drop-shadow(46px 36px 24px #4090b5)
  //   drop-shadow(-55px -40px 25px #9e30a9);
  // animation: blinkShadowsFilter 8s ease-in infinite;

  box-shadow: -2px -2px 9px 2px rgba(0, 0, 0, 0.4);

  border-radius: 16px;

  @media screen and (max-width: 768px) {
    padding: 20px;
    gap: 10px;
    width: 90%;
  }
}

// @keyframes blinkShadowsFilter {
//   0% {
//     filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706))
//       drop-shadow(-55px -40px 28px #9e30a9);
//   }

//   25% {
//     filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157))
//       drop-shadow(-55px 40px 24px #9e30a9);
//   }

//   50% {
//     filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157))
//       drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
//   }

//   75% {
//     filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157))
//       drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
//   }

//   to {
//     filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706))
//       drop-shadow(-55px -40px 28px #9e30a9);
//   }
// }

.logTitle {
  text-align: center;
}

.logSubTitile {
  font-size: 16px;
}

.logLabel {
  position: relative;
  display: flex;
  flex-direction: column;
}

.logLabelText {
  position: absolute;
  background-color: #fff;
  top: 15px;
  left: 10px;
  transition: color 0.3s, transform 0.3s;
  transform-origin: top left;
  border-radius: 10px;
  padding: 5px;
}

.logInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 11px;
}

.logInput::placeholder {
  opacity: 0;
  transition: opacity 0.5 50ms;
}

.logInput:focus::placeholder {
  opacity: 1;
}

.logInput:focus + .logLabelText,
.logInput:not(:placeholder-shown) + .logLabelText {
  color: #0198f8;
  transform: translateY(-20px) scale(0.85);
}
