.logForm {
  max-width: 500px;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #fff;
  color: #000;

  box-shadow: -2px -2px 9px 2px rgba(0, 0, 0, 0.4);

  border-radius: 16px;

  @media screen and (max-width: 768px) {
    padding: 20px;
    gap: 10px;
    width: 90%;
  }
}

.logTitle {
  text-align: center;
}

.logSubTitile {
  font-size: 16px;
}

.logLabel {
  position: relative;
  display: flex;
  flex-direction: column;
}

.logLabelText {
  position: absolute;
  background-color: #fff;
  top: 15px;
  left: 10px;
  transition: color 0.5s, transform 0.5s;
  transform-origin: top left;
  border-radius: 10px;
  padding: 5px;
}

.logInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 11px;
}

.logInput::placeholder {
  opacity: 0;
  transition: opacity 0.5 50ms;
}

.logInput:focus::placeholder {
  opacity: 1;
}

.logInput:focus + .logLabelText,
.logInput:not(:placeholder-shown) + .logLabelText {
  color: #0198f8;
  transform: translateY(-20px) scale(0.85);
}
