.SummaryReportsTable {
  width: 100%;
  border-collapse: collapse;
}

.SummaryReportsTableTh,
.SummaryReportsTableTd {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.SummaryReportsTableTh {
  background-color: #f2f2f2;
}

.SummaryReportsTableTr:hover {
  background-color: #edf3f8;
}
