.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-size: 30px;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.headerMenu {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 30px;
}

.menuList {
  list-style: none;
  display: flex;
  gap: 30px;
  //   margin-right: 30px;
}

.logoutBtn {
  background-color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  border: transparent;
}
