.StatisticsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.StatisticsInner {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
}

.platfromList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;

  @media screen and (max-width: 1240px) {
    justify-content: center;
  }
}

.platfromItem {
  padding: 10px 20px;
  border: 1px solid #0099fa;
  border-radius: 4px;
  max-width: 250px;
  width: 100%;
  background-color: #0099fa17;
  transition: scale 0.25s linear, box-shadow 0.25s linear,
    transform 0.25s linear;
  cursor: pointer;

  &:hover {
    scale: 1.03;
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.4);
  }
  @media screen and (min-width: 1024px) {
    max-width: 160px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 170px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 200px;
  }

  @media screen and (min-width: 1500px) {
    max-width: 250px;
  }
}

.active {
  scale: 1.03;
  box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.4);
}

.platfromHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descr {
  font-weight: 700;
}
