.userAuthMenu {
  display: flex;
  font-size: 18px;
  gap: 30px;
  align-items: center;
  @media screen and (max-width: 1240px) {
    gap: 10px;
    font-size: 14px;
  }
}

.userInfo {
  background-color: rgb(85 181 242 / 47%);
  display: inline-flex;
  padding: 10px;
  gap: 5px;
  border-radius: 8px;
  border: 1px solid #9bd8ff;

  @media screen and (max-width: 1240px) {
    padding: 5px;
  }
}

.userInfoDescr {
  font-weight: 600;
}

.userInfoDescrWidth {
  min-width: 100px;
}
